@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
:root {
  --box-number: 8;
}
.color {
  animation-duration: 1s;
  animation-delay: 0s;
}

h1 {
  font-family: "Bree Serif", serif;
  color: #674402;
}

.box {
  /* height: var(--box-size);
  width: var(--box-size); */
  border: 0.1px solid hsl(72, 71%, 30%);
  border-collapse: collapse;
}

.rainbow {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
}

#sketch-box {
  max-width: 32rem;
  max-height: 32rem;
  display: grid;
  grid-template-columns: repeat(var(--box-number), 1fr);
  grid-template-rows: repeat(var(--box-number), 1fr);
  width: 80%;
  aspect-ratio: 1/1;
}

.option {
  width: 20rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4rem 0.3rem;
  justify-content: center;
}

.color,
.reset {
  width: 100%;
  font-size: 1rem;
}

img.color {
  width: 2rem;
}

@media (min-width: 480px) {
  .option {
    display: flex;
    gap: 0.5rem;
  }
  img.color {
    width: 1.5rem;
    margin-right: 0;
  }
}

/* .defaults {
  position: relative;
} */

/* .defaults::before {
  content: "4 x 4";
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
} */
